header 
  {
     width: 100%;
     font-family: sans-serif;
  }
body 
  {
      background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),url('../cottage.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      padding: 3px;
  }
nav 
  {
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
.logo
  {
    font-size: 1.5em;
    letter-spacing: 2px;
  }
.menu a
  {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
  }
.menu a:before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid #CD5909;
    transition: width 0.4s linear; 
  }
.menu a:hover:before
  {
    width: 90%;
  }
.signup a
  {
     text-decoration: none;
     color: white;
     padding: 10px 20px;
     font-size: 20px;
     background: #CD5909;
     border-radius: 3px;
     transition: width 0.4s;
  }
.signup a:hover
  {
    background: transparent;
    border: 1px solid #CD5909;
  }

.destinations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.destination-link {
    text-decoration: none;
    color: inherit;
}

.destination-card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 2px;
    width: 300px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.2s;
}

.destination-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.destination-card img {
    width: 100%;
    height: 50vh;
}

.destination-card h3 {
    margin: 5px 0 5px;
}

.destination-card p {
    padding: 0 5px 5px;
}